/* Styles for Menu.js */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--grey-200);
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;

  transform: translateX(-100%);
  z-index: 1;
}

@media (max-width: 640px) {
  .menu {
    width: 100%;
  }
}

.menu a,
.signOutBtn {
  font-size: var(--font-size);
  text-transform: uppercase;
  padding: 2rem 0;
  letter-spacing: 0.5rem;
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
  transition: color 0.3s linear;
}

@media (max-width: 640px) {
  .menu a {
    /* font-size: 1.5rem; */
    text-align: center;
  }
}

/* nav a:hover {
  color: var(--grey-500);
} */
