.pageGrid {
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  max-width: 800px;
}

@media (min-width: 768px) {
  .pageGrid {

    margin: 0 auto 1.5rem auto;
  }
}

.page {
  max-width: 800px;
  margin: 0 1rem 1rem 1rem;
}

.wrapper {
  margin: var(--obj-margin-mobile);
  width: 288px;
  background-color: var(--white);
  border-radius: var(--border-radius);
}
@media (min-width: 640px) {
  .wrapper {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .wrapper {
      width: 500px;
  }
}

.topImageWrapper {
  margin: var(--topObj-margin-mobile);
}

.imageWrapper {
  margin: var(--obj-margin-mobile);
}

.credit {
  color: var(--text-normal);
  font-size: var(--font-smallest);
  text-align: end;
  padding: 0 !important;
}

.stat {
  color: var(--rhone-green);
  font-size: var(--font-smaller);
}

.button {
  appearance: none;
  outline: 0;
  background-color: var(--rhone-orange);
  /* border: 1px solid var(--grey-700); */
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: var(--grey-050);
  width: 225px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin: 8px auto;
  display: block;
  text-decoration: none;
}

/* Video styles */
.container {
  margin: 4rem 0;
}

.videoResponsive{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 20px 0;
  border-radius: var(--border-radius);
}

.videoResponsive iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
