/* MOBILE FIRST */
.pageGrid {
  display: grid;
  grid-template-rows: auto 1fr;

  min-height: 100vh;
}

.page {
  max-width: 540px;
  margin: 1rem;
}
@media (min-width: 576px) {
  .page {
    margin: 1rem auto;
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .page {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .page {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .page {
    max-width: 1140px;
  }
}

.pAnchor {
  color: var(--blue);
  cursor: pointer;
}

/* Titles and headings */
.title1,
.title2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--off-white);
}
@media (min-width: 640px) {
  .title1,
  .title2 {
    font-size: 4rem;
  }
}
.title1centered,
.title2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--off-white);
}
@media (min-width: 640px) {
  .title1centered,
  .title2 {
    font-size: 4rem;
  }
}

.title2 {
  color: var(--rhone-orange);
}

/* .title3 {
  color: var(--blue);
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .title3 {
    font-size: 2.5rem;
  }
} */
.title3 {
  font-size: 1.25rem;
  padding-top: 1rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--blue);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .title3 {
    font-size: 2.25rem;
  }
}
.stat {
  color: var(--rhone-green);
  font-size: var(--font-smaller);
}

.greenBold {
  color: var(--rhone-green);
}

.uList {
  color: var(--off-white);
  font-size: var(--font-size);
  padding: 8px;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .uList {
    font-size: var(--font-larger);
  }
}

/* Button styles */
.button {
  appearance: none;
  outline: 0;
  background-color: var(--rhone-orange);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: var(--grey-050);
  width: 225px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin: 2rem auto;
  display: block;
  text-decoration: none;
}

.blueButton {
  appearance: none;
  outline: 0;
  background-color: var(--blue);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 15px;
  color: var(--grey-050);
  width: 225px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin: 2rem auto;
  display: block;
  text-decoration: none;
}

/* Start with WHY */
.facebookGroup {
  text-align: center;
}

.facebookGroup img {
  width: 75%;
}

.internalLink {
  color: var(--blue);
  cursor: pointer;
}

.externalLink {
  color: var(--rhone-green);
  cursor: pointer;
}

/* Video styles */
.videoContainer {
  margin: 4rem 0;
}

.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 20px 0;
  border-radius: var(--border-radius);
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Podcast styles */
.podcastContainer {
  margin: 2rem 0;
  text-align: center;
}

.podcastContainer iframe {
}
