/* Styles for custom Link component */
/* FIX: Does not work */
.selected a {
  color: var(--text-black) !important;
}

@media (min-width: 768px) {
  .nameContainer {
    max-width: 800px;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .nameContainer {
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
  }
}

.deskLinkContainer {
  display: flex;
  width: 100%;
  margin: 0 1rem;
  padding: 8px 0;
}

.deskLink {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-light);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .deskLink {
    font-size: 2rem;
  }
}
.deskLink:hover {
  transform: scale(1.1);
}
.deskLink:first-child {
  padding-right: 2rem;
}

.title,
.period {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-dark);
}
@media (min-width: 640px) {
  .title,
  .period {
    font-size: 4rem;
  }
}

.title {
  text-align: end;
}

.period {
  color: var(--rhone-orange);
}
