.page {}

.title1,
.title2 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--off-white);
}
@media (min-width: 640px) {
  .title1,
  .title2 {
    font-size: 4rem;
  }
}

.title2 {
  color: var(--rhone-orange);
}
