/* Wrapper for forms */
.formWrapper {
  margin: var(--obj-margin-mobile);
  width: 288px;
  background-color: var(--white);
  border-radius: var(--border-radius);
}
@media (min-width: 640px) {
  .formWrapper {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .formWrapper {
    width: 500px;
  }
}

.textareaWrapper {
  margin: var(--obj-margin-mobile);
  /* width: 288px; */
}
@media (min-width: 640px) {
  .textareaWrapper {
    /* width: 400px; */
  }
}
@media (min-width: 768px) {
  .textareaWrapper {
      /* width: 500px; */
  }
}

/* Used on SignUp, SignIn, NOT ResourceNeeds */
.container {
	padding: 2rem 0;
	text-align: center;
}

.heading {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  /* font-weight: 200; */
  color: var(--text-darker);
}

.form {
  padding: 20px 0;
}

.form input,
.form fieldset,
.form select {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(207, 207, 207, 1); /* --grey-200 */
  background-color: rgba(207, 207, 207, 0.4);
  width: 225px;

  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  font-size: 18px;

  color: var(--grey-800);
  font-weight: 300;
}

.textareaForm {
  /* padding: 20px; */
}

.textarea {
  display: block;
  appearance: none;
  outline: 0;
  border: none;
  border-radius: var(--border-radius);
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  font-size: var(--font-size);
  color: var(--off-white);
  font-weight: 300;
}
/* @media (min-width: 640px) {
  .textarea {
    width: 400px;
  }
} */
/* @media (min-width: 1024px) {
  .textarea {
    width: 300px;
    font-size: var(--font-larger);
  }
} */

.input::placeholder {
  color: var(--grey-800);
  font-weight: 300;
}
/* ::-webkit-input-placeholder {
  color: var(--grey-800);
  font-weight: 300;
}
:-moz-placeholder {
  color: var(--grey-800);
  opacity: 1;
  font-weight: 300;
}
:-moz-placeholder {
  color: var(--grey-800);
  opacity: 1;
  font-weight: 300;
}
:-ms-input-placeholder {
  color: var(--grey-800);
  font-weight: 300;
} */
.textarea::placeholder {
  color: var(--off-white);
  font-weight: 300;
}

.form input:hover {
  background-color: rgba(207, 207, 207, 0.6);
}

.form input:focus {
  background-color: white;
  width: 250px;
  color: var(--grey-800);
}

.textareaConfirm {
  text-align: center;
}
.textareaConfirm p {
  color: var(--blue) !important;
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--off-white);
}
@media (min-width: 640px) {
  .textareaConfirm p {
    font-size: 4rem;
  }
}

.forgot {
  color: var(--blue);
  cursor: pointer;
}

.errors {
  font-size: var(--font-smallest);
  color: red;
}
